@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Lato:wght@700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');


.support-hero {
    height: 45vh;
    background: url("images/cathero.jpg") center center / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.support-hero h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 10px;
    font-family: "Changa One", sans-serif;
}

.support-hero p {
    font-size: 1.4rem;
    max-width: 600px;
    font-family: "Lato", sans-serif;
}

.donate {
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    align-items: start;
}

.donate h2 {
    grid-column: 1;
    background-color: #0b7545;
    padding: 15px 25px;
    border-radius: 50px;
    color: #fff;
    font-family: "Changa One", sans-serif;
    font-size: 2rem;
    text-align: center;
}

.donate img {
    width: 100%;
    border-radius: 12px;
    display: block;
    grid-column: 1;
}

.donate p {
    font-size: 1.05rem;
    line-height: 1.6;
    color: #333;
    font-family: "Lato", sans-serif;
    grid-column: 2;
}

.volunteer {
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 20px;
    font-family: "Lato", sans-serif;
}

.volunteer h2 {
    background-color: #0b7545;
    color: #fff;
    padding: 15px 25px;
    border-radius: 50px;
    font-family: "Changa One", sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
}

.volunteer h3 {
    font-size: 2rem;
    font-family: "Changa One", sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #0b7545;
}

.volunteer p {
    font-size: 1.05rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 25px;
}

.support-page section.volunteer-photo img.volunteer-img {
    display: block;
    width: 90%;
    max-width: 900px;
    margin: 60px;
    border-radius: 12px;
    float: none;
}

.other-help {
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 20px 40 px;
}

.other-help h2 {
    grid-column: 1 / -1;
    background-color: #0b7545;
    padding: 15px 25px;
    border-radius: 50px;
    color: #fff;
    font-family: "Changa One", sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
}

.other-help h3 {
    font-size: 2rem;
    font-family: "Changa One", sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #0b7545;
}

.other-help p {
    font-size: 1.05rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 18px;
    font-family: "Lato", sans-serif;
}