@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Lato:wght@700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');


.adopt-hero {
    height: 45vh;
    background: url("images/cathero.jpg") center center / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.adopt-hero h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 10px;
    font-family: "Changa One", sans-serif;
}

.adopt-hero p {
    font-size: 1.4rem;
    max-width: 600px;
    font-family: "Lato", sans-serif;
}

.adopt-process {
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 40px;
}

.adopt-process p {
    font-size: 1.05rem;
    line-height: 1.65;
    margin-bottom: 12px;
    font-family: "Lato", sans-serif;
    color: #333;
}

.adopt-process ol {
    margin-left: 0;
    padding-left: 0;
    list-style-type: inside;
}

.adopt-process li {
    margin-bottom: 20px;
}

.adopt-process h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 5px;
    color: #000;
}

.adopt-process img {
    width: 450px;
    float: right;
    border-radius: 12px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.pets {
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    text-align: center;
    justify-content: center;
}

.pets h2 {
    grid-column: 1 / -1;
    background-color: #064d2f;
    padding: 15px 25px;
    border-radius: 50px;
    color: #fff;
    font-family: "Changa One", sans-serif;
    font-size: 2rem;
    margin-bottom: 25px;
    text-align: center;
}

.pets img {
    width: 100%;
    border-radius: 12px;
    display: block;
    margin: 0 auto;
}

.pets figcaption {
    font-size: 0.95rem;
    margin-top: 8px;
}

.dogs h2 {
    grid-column: 1 / -1;
    background-color: #064d2f;
    padding: 15px 25px;
    border-radius: 50px;
    color: #fff;
    font-family: "Changa One", sans-serif;
    font-size: 2rem;
    margin-bottom: 25px;
    text-align: center;
}

.dogs img {
    width: 100%;
    border-radius: 12px;
    display: block;
    margin: 0 auto;
}

.dogs figcaption {
    font-size: 0.95rem;
    margin-top: 8px;
}
